<div class="container" ng-controller="ProductsController" ng-init="loadTVA()">
    <form role="form" enctype="multipart/form-data" name="addProductForm" novalidate class="simple-form"
          ng-submit="addProductForm.$valid">

        <div class="form-group">
            <label for="name">Nom <span class="indice-info">*</span> </label>
            <input class="form-control" id="name" name="name" type="text" ng-model="product.name" required/>

            <div ng-show="addProductForm.$submitted || addProductForm.name.$touched">
                <div class="error" ng-show="addProductForm.name.$error.required">Le nom de produit est obligatoire.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="sellprice">Prix de vente TTC (en €) <span class="indice-info">*</span> </label>
            <input class="form-control" id="sellprice" name="sellprice" type="number" step="0.01" min="0"
                   ng-model="product.sellprice"
                   required/>

            <div ng-show="addProductForm.$submitted || addProductForm.sellprice.$touched">
                <div class="error" ng-show="addProductForm.sellprice.$error.required">Le prix de vente est obligatoire.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="buyprice">Prix d'achat HT (en €) <span class="indice-info">*</span> </label>
            <input class="form-control" id="buyprice" name="buyprice" type="number" step="0.01" min="0"
                   ng-model="product.buyprice"
                   required/>

            <div ng-show="addProductForm.$submitted || addProductForm.buyprice.$touched">
                <div class="error" ng-show="addProductForm.buyprice.$error.required">Le prix d'achat est obligatoire.</div>
            </div>
        </div>


        <div class="form-group">
            <label for="datebuy">Date d'achat <span class="indice-info">*</span> </label>
            <input class="form-control" id="datebuy" name="datebuy" type="date" ng-model="product.datebuy"
                   required/>

            <div ng-show="addProductForm.$submitted || addProductForm.datebuy.$touched">
                <div class="error" ng-show="addProductForm.datebuy.$error.required">La date d'achat est obligatoire.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="stock">Stock vente<span class="indice-info"><span class="indice-info">*</span></span> </label>
            <input class="form-control" string-to-number id="stock_sell" name="stock_sell" type="number" step="1" min="0" ng-model="product.stock"
                   required/>

            <div ng-show="addProductForm.$submitted || addProductForm.stock_sell.$touched">
                <div class="error" ng-show="addProductForm.stock_sell.$error.required">Le stock de vente est obligatoire.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="stock">Stock magasin<span class="indice-info"><span class="indice-info">*</span></span> </label>
            <input class="form-control" string-to-number id="stock" name="stock" type="number" step="1" min="0" ng-model="product.stock_store"
                   required/>

            <div ng-show="addProductForm.$submitted || addProductForm.stock.$touched">
                <div class="error" ng-show="addProductForm.stock.$error.required">Le stock magasin est obligatoire.</div>
            </div>
        </div>

        <input disabled type="hidden" ng-model="product.uuid"/>

        <div class="infos">
            <p><span class="indice-info">*</span> : Informations obligatoires</p>
        </div>


        <input class="btn btn-default" type="submit" ng-click="add_new(product)" ng-disabled="addProductForm.$invalid"
               ng-class="{true: 'disabled'}[addProductForm.$invalid]"
               value="Enregistrer"/>
    </form>
</div>