<div class="container" ng-controller="ProductController">
    <div class="col-xs-12 col-lg-12 col-md-12 product">
        <h1>{{product.prod_name}}</h1>
        <img src="{{product.prod_image}}"/>

        <div>
            <span>TVA: {{product.prod_tva_value}} %</span><br>
            <span>Prix de vente: {{product.prod_sellprice}} €</span><br>
            <span>Prix d'achat: {{product.prod_buyprice}} €</span><br>
            <span>Date d'achat: {{product.prod_datebuy | date:'dd/MM/yyyy'}}</span><br>

            <span>Stock vente: {{product.prod_stock}}</span><br>
            <span>Stock magasin: {{product.prod_stock_store}}</span><br>

            <span>Dernière modification: {{product.prod_lastmodification | date:'dd/MM/yyyy à HH:mm:ss'}}</span><br>
        </div>

        <div>
            <a ng-href="#/product/update/{{product.prod_uuid}}"  class="btn btn-default">Modifier le produit</a>
        </div>
    </div>



    <div ng-if="role=='admin'" ng-controller="LineProdController">
        <h1>Activité sur le produit</h1>
        <div >
            {{line}}
        </div>
        <table id="table_lineprod" class="table">
            <thead>
            <tr>
                <th>Action</th>
                <th>Utilisateur</th>
                <th>Date et heure</th>
            </tr>
            </thead>
            <tbody>
            <tr class="product-link" ng-repeat="line in lineprod track by $index"
                on-finish-render="ngRepeatFinished">
                <td>{{line[0]}}</td>
                <td>{{line[1]}}</td>
                <td>{{line[2]}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>