<div class="container" ng-controller="ProductController">
    <div class="col-xs-12 col-lg-12 col-md-12 product">
        <h1>{{product.prod_name}}</h1>
        <img src="{{product.prod_image}}"/>

        <ul>
            <li>TVA: {{product.prod_tva_value}} %</li>
            <li>Prix de vente: {{product.prod_sellprice}} €</li>
            <li>Prix d'achat: {{product.prod_buyprice}} €</li>
            <li>Date d'achat: {{product.prod_datebuy | date:'dd/MM/yyyy'}}</li>

            <li>Stock vente: {{product.prod_stock}}</li>
            <li>Stock magasin: {{product.prod_stock_store}}</li>

            <li>Stock total: {{product.prod_stock_store + product.prod_stock}}</li>

            <li>Dernière modification: {{product.prod_lastmodification | date:'dd/MM/yyyy à HH:mm:ss'}}</li>
        </ul>

        <div>
            <a ng-href="#/product/update/{{product.prod_uuid}}" class="btn btn-primary">Modifier le produit</a>
        </div>
    </div>

    <div class="col-xs-12 col-lg-12 col-md-12 ">
        <div ng-if="role=='admin'" ng-controller="LineProdController">
            <h1>Activité sur le produit</h1>

            <div>
                {{line}}
            </div>
            <table id="table_lineprod" class="table">
                <thead>
                <tr>
                    <th>Action</th>
                    <th>Utilisateur</th>
                    <th>Date et heure</th>
                </tr>
                </thead>
                <tbody>
                <tr class="product-link" ng-repeat="line in lineprod track by $index"
                    on-finish-render="ngRepeatFinished">
                    <td>{{line[0]}}</td>
                    <td>{{line[1]}}</td>
                    <td>{{line[2]}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>