<div class="container" ng-controller="ProductsController">
    <h1>Liste des produits</h1>

    <div class="col-xs-12 col-lg-12 col-md-12" ng-if="products">
        <table id="table_products" class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Stock vente</th>
                <th>Stock magasin</th>
                <th>Image</th>
                <th>Quantité en entrée</th>
                <th>Quantité en sortie</th>
            </tr>
            </thead>
            <tbody>
            <tr class="product-link" ng-repeat="product in products track by $index"
                on-finish-render="ngRepeatFinished">
                <td><a ng-href="#/product/{{product.fields['prod_uuid']}}"> {{product.fields['prod_name']}}</a></td>
                <td>{{product.fields['prod_stock']}}</td>
                <td>{{product.fields['prod_stock_store']}}</td>
                <td class="tiny"><img src="{{product.fields['prod_image']}}"/></td>
                <td class="padding-different">
                    <form novalidate>
                        <div class="form-group">
                            <input required class="form-control" type="number" min="0" step="1" name="qt_in" ng-model="qt_in"/>
                            <input type="image" src="media/img/ok.png"
                                   ng-click="in_product(product.fields['prod_uuid'], qt_in, $event)"/>
                        </div>
                    </form>
                </td>
                <td class="padding-different">
                    <form novalidate>
                        <div class="form-group">
                            <input required class="form-control" type="number" min="0" step="1" name="qt_out" ng-model="qt_out"/>
                            <input type="image" src="media/img/ok.png"
                                   ng-click="out_product(product.fields['prod_uuid'], qt_out, $event)"/>
                        </div>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>