<div class="container" ng-controller="ProductController">
    <div class="col-xs-12 col-lg-12 col-md-12 product">
        <h1>{{product.prod_name}}</h1>
        <img src="{{product.prod_image}}"/>

        <div>
            <span>TVA: {{product.prod_tva_value}}</span><br>
            <span>Prix de vente: {{product.prod_sellprice}}</span><br>
            <span>buyprice: {{product.prod_buyprice}}</span><br>
            <span>datebuy: {{product.prod_datebuy}}</span><br>
            <span>stock: {{product.prod_stock}}</span><br>

            <span>Dernière modification: {{product.prod_lastmodification}}</span><br>
            <span>par: {{product.prod_user}}</span>
        </div>

        <div>
            <button ng-click="update_product(product)" class="btn btn-default">Modifier le produit</button>
        </div>
    </div>
</div>