<div class="container" ng-controller="ClientController">
    <div class="col-xs-12 col-lg-12 col-md-12 product">
        <h1>{{client['client_firstname']}} {{client['client_lastname']}}</h1>

        <div id="infos">
            <ul>
                <li>Téléphone: {{client['client_phone']}}</li>
                <li>Adresse: {{client['client_address']}}</li>
                <li>Ville: {{client['client_town']}}</li>
                <li>CP: {{client['client_zipcode']}}</li>

                <li>Email: {{client['client_email']}}</li>
                <li>Dernière visite: {{client['client_visit'][client['client_visit'].length - 1]}}
                    ({{client['client_visit'].length}} visites au total)
                </li>
            </ul>

            <div class="controllers-product">
                <div class="controllers-pack">
                    <input type="number" min="0" step="0.01" placeholder="Montant (en €)" ng-model="value_visit"/>
                    <a ng-click="update_visit(client['client_uuid'], value_visit)" class="btn btn-default">Mettre à jour la
                        visite</a>
                </div>
                <div class="controllers-pack">
                    <a ng-href="#/client/update/{{client['client_uuid']}}" class="btn btn-primary">Modifier le
                        client</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-lg-12 col-md-12 ">
        <div ng-if="role=='admin'" ng-controller="LineClientController">
            <h1>Activité sur le client</h1>

            <table id="table_lineclient" class="table">
                <thead>
                <tr>
                    <th>Action</th>
                    <th>Utilisateur</th>
                    <th>Date et heure</th>
                </tr>
                </thead>
                <tbody>
                <tr class="client-link" ng-repeat="line in lineclient track by $index"
                    on-finish-render="ngRepeatFinished">
                    <td>{{line[0]}}</td>
                    <td>{{line[1]}}</td>
                    <td>{{line[2] | date: "dd/MM/yyyy HH:mm:ss"}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>