<div class="container" ng-controller="ClientController">
    <form role="form" name="addClientForm" novalidate class="simple-form"
          ng-submit="addClientForm.$valid">

        <div class="form-group">
            <label for="firstname">Prénom*: </label>
            <input class="form-control" id="firstname" name="firstname" type="text" ng-model="client.client_firstname" required/>

            <div ng-show="addClientForm.$submitted || addClientForm.firstname.$touched">
                <div class="error" ng-show="addClientForm.firstname.$error.required">
                    Le prénom du client est obligatoire.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="lastname">Nom*: </label>
            <input class="form-control" id="lastname" name="lastname" type="text" ng-model="client.client_lastname" required/>

            <div ng-show="addClientForm.$submitted || addClientForm.lastname.$touched">
                <div class="error" ng-show="addClientForm.lastname.$error.required">
                    Le nom du client est obligatoire.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="phone">Téléphone: </label>
            <input class="form-control" id="phone" name="phone" type="tel" ng-model="client.client_phone"/>
        </div>

        <div class="form-group">
            <label for="email">E-mail: </label>
            <input class="form-control" id="email" name="email" type="text" ng-model="client.client_email"/>
        </div>

        <div class="form-group">
            <label for="address">Adresse: </label>
            <input class="form-control" id="address" name="address" type="text" ng-model="client.client_address"/>
        </div>

        <div class="form-group">
            <label for="town">Ville: </label>
            <input class="form-control" id="town" name="town" type="text" ng-model="client.client_town"/>
        </div>

        <div class="form-group">
            <label for="zipcode">Code postal: </label>
            <input class="form-control" id="zipcode" name="zipcode" type="text" ng-model="client.client_zipcode"/>
        </div>

        <div class="infos">
            <p>*: Informations obligatoires</p>
        </div>

        <input class="btn btn-default" type="submit" ng-click="update_client(client)" ng-disabled="addClientForm.$invalid"
               ng-class="{true: 'disabled'}[addClientForm.$invalid]"
               value="Enregistrer"/>
    </form>
</div>
