<div class="container" ng-controller="UserController">
    <h1>Mon compte</h1>

    <h2>Changer mon mot de passe</h2>
    <form class="simple-form" role="form" novalidate name="passwordChangeForm" ng-submit="passwordChangeForm.$valid">
        <div class="form-group">
            <label for="password">Mot de passe<span class="indice-info"><span class="indice-info">*</span></span> </label>
            <input class="form-control" id="password" name="password" type="password" ng-model="user.password"
                   required/>

            <div ng-show="passwordChangeForm.$submitted || passwordChangeForm.password.$touched">
                <div class="error" ng-show="passwordChangeForm.password.$error.required">Le mot de passe est obligatoire.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password_confirm">Confirmation <span class="indice-info"><span class="indice-info">*</span></span> </label>
            <input class="form-control" id="password_confirm" name="password_confirm" type="password" ng-model="user.password_confirm"
                   required passwordcheck/>

            <div ng-show="passwordChangeForm.$submitted || passwordChangeForm.password_confirm.$touched">
                <div class="error" ng-show="passwordChangeForm.password_confirm.$error.required">Le mot de passe de confirmation est obligatoire.</div>
                <div class="error" ng-show="passwordChangeForm.password_confirm.$error.passwordcheck">Les mots de passes ne sont pas identiques.</div>

            </div>
        </div>
        <input class="btn btn-default" type="submit" ng-click="update_password(user)" ng-disabled="passwordChangeForm.$invalid"
               ng-class="{true: 'disabled'}[passwordChangeForm.$invalid]"
               value="Enregistrer"/>
    </form>
</div>